#body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 400px;

}
#header{
    background: #f44242;
    width: 100%;
    height: 100px;

}
h1{
    line-height: 100px;
    margin-top: 0px;
}
#heading{
    color: white;
    text-align: center;
    font-size: 30px;
    height: 100px;
    float: left;
    width: 45%;
}
#input{
    width: 35%;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    color: white;
}
#create{
    width: 50%;
    float: right;
    height: 300px;
}
#img{
    float: left;
    width: 45%;
    }
ul{
    margin-left: 80px;
    margin-top: 30px;
    list-style: none;
}
ul li{
    width: 80px;
    display: inline;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    position: relative;
    padding-right: 3px;
    padding-top: 0px;
  }
ul ul {
    display: none;
}
ul li a{
    color: #3B5998;
    text-decoration: none;
}
ul li:hover a{
    text-decoration: underline;
}
span{
    margin-top: 1px;
    padding-right: 3px;
    padding-bottom: 8px;

}
span a{
    text-decoration: none;
    color: #3B5998;
}
span:hover{
    text-decoration: underline;
}
div{

}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}